In [43]:
import os
import numpy as np
import cv2
import matplotlib.pyplot as plt

In [44]:
import re

In [45]:
base = "celebA/"

In [46]:
anno_path = os.path.join(base,"Anno/list_attr_celeba.txt")
img_base = os.path.join(base,"Img/img_celeba/")

In [47]:
check_class={
    'beard':['No_Beard','Goatee','Mustache'],
    'smile':['Smiling'],
    'eyeglasses':['Eyeglasses'],
    'lipstick':['Wearing_Lipstick'],
    'hat':['Wearing_Hat'],
    'earrings':['Wearing_Earrings'],
    'necklace':['Wearing_Necklace'],
    'necktie':['Wearing_Necktie']
}

In [48]:
check_class_index={}
annotations = {}
check_dict={}

with open(anno_path,'r') as f:
    # Get the total number of annotation
    num_annotation = int(f.readline()[:-1])
    
    # Get classes names
    classes = re.findall(r'\s?(\s*\S+)', f.readline().rstrip())
    
    for k in check_class:
        class_list = check_class[k]
        idx_list=[]
        for c in class_list:
            idx_list.append(classes.index(c))
        check_class_index[k]=idx_list
        
    for i in range(num_annotation):
        data = f.readline()
        
        filename = os.path.splitext(data.split(" ")[0])[0]
        filename_format = data.split(" ")[0]
        labels = re.findall(r'\s?(\s*\S+)', data.rstrip())[1:]
        
        check_dict[filename_format]=[]
        
        for k in check_class_index:
            index_list = check_class_index[k]
            check_labels = np.array(list(np.array(labels)[index_list]))
            check_dict[filename_format].extend(check_labels)

In [49]:
check_class_index

{'beard': [24, 16, 22],
 'smile': [31],
 'eyeglasses': [15],
 'lipstick': [36],
 'hat': [35],
 'earrings': [34],
 'necklace': [37],
 'necktie': [38]}

In [50]:
label_keys=[]
for val in check_class.values():
    label_keys.extend(val)

In [51]:
check_csv = "check_celebA.csv"

with open(check_csv,'w') as f:
    label_line='filename,'
    for k in label_keys:
        label_line+="{},".format(k)
    label_line = label_line[:-1]+"\n"
    f.writelines(label_line)
    
    for filename in check_dict:
        check_list = check_dict[filename]
        
        new_line='{},'.format(filename)
        
        for i in range(len(check_list)):
            if int(check_list[i])==1:
                wstr = 1 # true 1
            else:
                wstr = 0 # false 0
            new_line+='{},'.format(wstr)
        new_line = new_line[:-1]+"\n"
        f.writelines(new_line)

In [52]:
# check beard

In [53]:
import pandas as pd
import shutil
import os
from tqdm import tqdm

In [54]:
csv_path = "celebA/csv/230720/check_celebA.csv"

In [55]:
df = pd.read_csv(csv_path)

In [56]:
df

,filename,No_Beard,Goatee,Mustache,Smiling,Eyeglasses,Wearing_Lipstick,Wearing_Hat,Wearing_Earrings,Wearing_Necklace,Wearing_Necktie
0,000001.jpg,1,0,0,1,0,1,0,1,0,0
1,000002.jpg,1,0,0,1,0,0,0,0,0,0
2,000003.jpg,1,0,0,0,0,0,0,0,0,0
3,000004.jpg,1,0,0,0,0,1,0,1,1,0
4,000005.jpg,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
202594,202595.jpg,1,0,0,0,0,1,0,0,0,0
202595,202596.jpg,1,0,0,1,0,0,0,0,0,0
202596,202597.jpg,1,0,0,1,1,0,0,0,0,0
202597,202598.jpg,1,0,0,1,0,1,0,1,0,0
202598,202599.jpg,1,0,0,0,0,1,0,0,0,0

In [57]:
check_beard=[]
ct=[0,0,0]

for i,val in enumerate(df.values):
    filename = val[0]
    no_beard = val[1]
    goatee = val[2]
    mustache = val[3]
    
    if no_beard:
        if goatee and mustache:
            ct[0]+=1
            check_beard.append(val)
        if goatee and not mustache:
            ct[1]+=1
            check_beard.append(val)
        if mustache and not goatee:
            ct[2]+=1
            check_beard.append(val)

In [58]:
check_beard2=[]
ct2=0

for i,val in enumerate(df.values):
    filename = val[0]
    no_beard = val[1]
    goatee = val[2]
    mustache = val[3]
    
    if not no_beard:
        if not goatee and not mustache:
            ct2+=1
            check_beard2.append(val)

In [59]:
ct

[13, 205, 222]

In [60]:
ct2

17694

# check image
save_check_base = "./check_beard2/"
if not os.path.exists(save_check_base):
    os.mkdir(save_check_base)
    
image_base = "/data/shared/Face/FaceExpression/datasets/celebA/Img/img_celeba/"

for val in tqdm(check_beard2):
    file_path = os.path.join(image_base,val[0])
    no_beard=val[1]
    goatee=val[2]
    mustache = val[3]
    
    new_name = val[0].split(".jpg")[0]+"_{}{}{}.jpg".format(str(no_beard)[0],str(goatee)[0],str(mustache)[0])
    new_path = os.path.join(save_check_base,new_name)
    
    shutil.copy(file_path,new_path)

In [61]:
# final csv

In [62]:
import pandas as pd

In [63]:
csv_path = "celebA/csv/230720/check_celebA.csv"

In [64]:
df = pd.read_csv(csv_path)

In [65]:
df

,filename,No_Beard,Goatee,Mustache,Smiling,Eyeglasses,Wearing_Lipstick,Wearing_Hat,Wearing_Earrings,Wearing_Necklace,Wearing_Necktie
0,000001.jpg,1,0,0,1,0,1,0,1,0,0
1,000002.jpg,1,0,0,1,0,0,0,0,0,0
2,000003.jpg,1,0,0,0,0,0,0,0,0,0
3,000004.jpg,1,0,0,0,0,1,0,1,1,0
4,000005.jpg,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
202594,202595.jpg,1,0,0,0,0,1,0,0,0,0
202595,202596.jpg,1,0,0,1,0,0,0,0,0,0
202596,202597.jpg,1,0,0,1,1,0,0,0,0,0
202597,202598.jpg,1,0,0,1,0,1,0,1,0,0
202598,202599.jpg,1,0,0,0,0,1,0,0,0,0

In [66]:
beard_index=[]
c=0
for i,val in enumerate(df.values):
    b1 = val[1]
    b2 = val[2]
    b3 = val[3]
    
    if (b1 and b2) or (b1 and b3):
        c+=1
        beard_index.append(i)

In [67]:
with open("exclude_index_beard.txt",'w') as f:
    for i in beard_index:
        f.writelines("{}\n".format(i))

In [68]:
len(beard_index)

440

In [69]:
# no_beard 1 -> goatee or mustache 1 -> exclude
# no_beard 0 -> goatee 0, mustache 0 -> beard 1
# no_beard 1 -> beard 0


with open("check_celebA_beard.csv",'w') as f:
    label_line='filename,No_Beard,Goatee,Mustache,Smiling,Eyeglasses,Wearing_Lipstick,Wearing_Hat,Wearing_Earrings,Wearing_Necklace,Wearing_Necktie,Beard\n'
    f.writelines(label_line)
    for i,val in enumerate(df.values):
        if i in beard_index: continue
        
        b1 = val[1]
        
        new_line=''
        for v in val:
            new_line+='{},'.format(v)
        if b1: # true 1
            beard_lb = 0 # beard false
        else: # false 0
            beard_lb = 1 # beard true
        new_line+='{}\n'.format(beard_lb)
        
        f.writelines(new_line)

In [70]:
df = pd.read_csv("celebA/csv/230720/check_celebA_beard.csv")

In [71]:
df

,filename,No_Beard,Goatee,Mustache,Smiling,Eyeglasses,Wearing_Lipstick,Wearing_Hat,Wearing_Earrings,Wearing_Necklace,Wearing_Necktie,Beard
0,000001.jpg,1,0,0,1,0,1,0,1,0,0,0
1,000002.jpg,1,0,0,1,0,0,0,0,0,0,0
2,000003.jpg,1,0,0,0,0,0,0,0,0,0,0
3,000004.jpg,1,0,0,0,0,1,0,1,1,0,0
4,000005.jpg,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
202154,202595.jpg,1,0,0,0,0,1,0,0,0,0,0
202155,202596.jpg,1,0,0,1,0,0,0,0,0,0,0
202156,202597.jpg,1,0,0,1,1,0,0,0,0,0,0
202157,202598.jpg,1,0,0,1,0,1,0,1,0,0,0
202158,202599.jpg,1,0,0,0,0,1,0,0,0,0,0

In [72]:
final_list=[]
mixed=0
mixed_num=10000

for i,val in enumerate(df.values):

    label_list = val[4:]
    
    true_check = np.any(label_list==True)
    
    if true_check:
        final_list.append(val)
    elif mixed<mixed_num:
        mixed+=1
        final_list.append(val)

In [73]:
len(final_list), mixed

(184227, 10000)

In [74]:
final_csv = "celebA_anno_mixed10000.csv"

with open(final_csv,'w') as f:
    label_line='filename,No_Beard,Goatee,Mustache,Smiling,Eyeglasses,Wearing_Lipstick,Wearing_Hat,Wearing_Earrings,Wearing_Necklace,Wearing_Necktie,Beard\n'
    f.writelines(label_line)

    for val in final_list:
        new_line=''
        for v in val:
            new_line+="{},".format(v)
        new_line = new_line[:-1]+"\n"
        f.writelines(new_line)

In [25]:
# train:val:test = 8:1:1

In [75]:
import random

In [76]:
df = pd.read_csv("celebA/csv/230720/celebA_anno_mixed10000.csv")

In [77]:
df

,filename,No_Beard,Goatee,Mustache,Smiling,Eyeglasses,Wearing_Lipstick,Wearing_Hat,Wearing_Earrings,Wearing_Necklace,Wearing_Necktie,Beard
0,000001.jpg,1,0,0,1,0,1,0,1,0,0,0
1,000002.jpg,1,0,0,1,0,0,0,0,0,0,0
2,000003.jpg,1,0,0,0,0,0,0,0,0,0,0
3,000004.jpg,1,0,0,0,0,1,0,1,1,0,0
4,000005.jpg,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
184222,202595.jpg,1,0,0,0,0,1,0,0,0,0,0
184223,202596.jpg,1,0,0,1,0,0,0,0,0,0,0
184224,202597.jpg,1,0,0,1,1,0,0,0,0,0,0
184225,202598.jpg,1,0,0,1,0,1,0,1,0,0,0
184226,202599.jpg,1,0,0,0,0,1,0,0,0,0,0

In [78]:
postive_index=[]
negative_index=[]

In [79]:
for i,val in enumerate(df.values):
    label_list = val[4:]
    true_check = np.any(label_list==True)
    
    if true_check:
        postive_index.append(i)
    else:
        negative_index.append(i)

In [80]:
len(postive_index),len(negative_index)

(174227, 10000)

In [81]:
train_ratio=0.8
val_ratio=0.1
test_ratio=0.1

In [82]:
train_p=[]
train_n=[]
val_p=[]
val_n=[]
test_p=[]
test_n=[]

In [83]:
val_p = random.sample(postive_index,round(len(postive_index)*val_ratio))
val_n = random.sample(negative_index,round(len(negative_index)*val_ratio))

In [84]:
postive_index2 = []
negative_index2 = []

In [85]:
for i in postive_index:
    if i in val_p: continue
    postive_index2.append(i)
    
for i in negative_index:
    if i in val_n: continue
    negative_index2.append(i)

In [86]:
len(postive_index2),len(negative_index2)

(156804, 9000)

In [87]:
test_p = random.sample(postive_index2,round(len(postive_index2)*test_ratio))
test_n = random.sample(negative_index2,round(len(negative_index2)*test_ratio))

In [88]:
for i in postive_index2:
    if i in test_p: continue
    train_p.append(i)
    
for i in negative_index2:
    if i in test_n: continue
    train_n.append(i)

In [89]:
print(len(train_p),len(train_n))
print(len(val_p),len(val_n))
print(len(test_p),len(test_n))

141124 8100
17423 1000
15680 900

In [90]:
save_format = "celebA_anno_mixed10000_{}.csv"

In [91]:
with open(save_format.format('train'),'w') as f:
    label_line='filename,No_Beard,Goatee,Mustache,Smiling,Eyeglasses,Wearing_Lipstick,Wearing_Hat,Wearing_Earrings,Wearing_Necklace,Wearing_Necktie,Beard\n'
    f.writelines(label_line)
    
    for i in train_p:
        val = df.values[i]
        new_line=''
        for v in val:
            new_line+='{},'.format(v)
        new_line = new_line[:-1]+"\n"
        f.writelines(new_line)
        
    for i in train_n:
        val = df.values[i]
        new_line=''
        for v in val:
            new_line+='{},'.format(v)
        new_line = new_line[:-1]+"\n"
        f.writelines(new_line)

In [92]:
with open(save_format.format('val'),'w') as f:
    label_line='filename,No_Beard,Goatee,Mustache,Smiling,Eyeglasses,Wearing_Lipstick,Wearing_Hat,Wearing_Earrings,Wearing_Necklace,Wearing_Necktie,Beard\n'
    f.writelines(label_line)
    
    for i in val_p:
        val = df.values[i]
        new_line=''
        for v in val:
            new_line+='{},'.format(v)
        new_line = new_line[:-1]+"\n"
        f.writelines(new_line)
        
    for i in val_n:
        val = df.values[i]
        new_line=''
        for v in val:
            new_line+='{},'.format(v)
        new_line = new_line[:-1]+"\n"
        f.writelines(new_line)

In [93]:
with open(save_format.format('test'),'w') as f:
    label_line='filename,No_Beard,Goatee,Mustache,Smiling,Eyeglasses,Wearing_Lipstick,Wearing_Hat,Wearing_Earrings,Wearing_Necklace,Wearing_Necktie,Beard\n'
    f.writelines(label_line)
    
    for i in test_p:
        val = df.values[i]
        new_line=''
        for v in val:
            new_line+='{},'.format(v)
        new_line = new_line[:-1]+"\n"
        f.writelines(new_line)
        
    for i in test_n:
        val = df.values[i]
        new_line=''
        for v in val:
            new_line+='{},'.format(v)
        new_line = new_line[:-1]+"\n"
        f.writelines(new_line)